@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: var(--font-inter);
    background-color: #3D1C02;
    color: #FAF6F0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
}
