@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  h1, h2, h3 {
    font-family: var(--font-playfair);
  }
  body {
    font-family: var(--font-inter);
    background-color: #FAF6F0;
    color: #3D1C02;
  }
}

@layer utilities {
  .font-playfair {
    font-family: var(--font-playfair);
  }
}
